/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


header{
  height: 50;
  width: 100%;
  font-size: 25PX;
  background-color: lightgoldenrodyellow;
  padding: 0 20px
}
.memo{
  border: 1px solid royalblue;
  border-radius: 100px;
  width: 40%;
  margin-top: 30px;
  padding: 20px 40px;
  margin: 30px auto;
}

.memo-date{
  color: lightgrey;
  margin-bottom: 10px;
}

footer{
  height: 50;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
}
.header-image{
  width: 100px;
  height: 80px;
}
.post-form{
  padding: 15px;
}
.post-button{
  padding: 0 0 0 15px;
}

/* .contents{
  height: 500px;
} */
.post-memo{
  font-size: 20px;
}
body {
  margin: 0;
}
/* .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  *zoom: 1;
} */

.footer-name{
 
}