<h1>メモ新規投稿ページ</h1>
<%= form_with url: "/memos", method: :post, local: true do |form| %>
  <div class="post">
    <div class="post-form">
      <%= form.text_field :content %>
    </div>
    <div class="post-button">
      <%= form.submit 'メモする'%>
    </div>
  </div>
<% end %>